## Create using values.yaml (chart default) as source,
## deleting all keys except those modified for the target release.

feature:
  propagateHostMountOptions: true

controller:
  runOnControlPlane: true
  enableSnapshotter: true
  defaultOnDeletePolicy: delete # Default behavior of StorageClass

externalSnapshotter:
  enabled: true

storageClass:
  create: true
  name: csi-nfs-archive
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
  parameters:
    server: a0.lime.lan
    share: /srv/nfs/k8s
    #subDir: /csi-nfs-archive/${pv.metadata.name}/${pvc.metadata.namespace}/${pvc.metadata.name}
    subDir: /csi-nfs-archive/${pvc.metadata.namespace}/${pv.metadata.name}/${pvc.metadata.name}
    mountPermissions: "0"
    onDelete: archive   # Affects physical storage on the nfs server : retain, archive, delete
  reclaimPolicy: Delete # Affects PV only : Retain, Delete
  volumeBindingMode: Immediate
  mountOptions:
    - nfsvers=4.2
